@model OrionApp.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDocType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDocType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDocNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDocNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpHireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpHireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSupervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSupervisor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
