@model OrionApp.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupWebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupMainPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupMainPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupPaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupPaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
