@model OrionApp.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustDocType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustDocType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustDocNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustDocNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
